/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

h1, h2 {
    font-weight: 400;
}

nav .mat-ink-bar {
    top: 0 !important;
}

.card-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
    row-gap: 10px;
    column-gap: 10px;
    place-items: center;
}

.card {
    border-radius: 8px;
    width: 200px;
    background-color: #F0F0F0;
    padding: 10px;
    cursor: pointer;
}

.mat-checkbox-layout {
    width: 100%;
}

.item-list .mat-checkbox-label-before .mat-checkbox-inner-container {
    margin-right: 0;
}

.item-list .mat-checkbox-layout .mat-checkbox-label {
    width: 100%;
}

@media screen and (min-width: 768px) {
    .card-list {
        grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
    }

    .card {
        width: 300px;
    }
}
