<header>
    <h2 style = 'margin-top: 16px;'>Create your order</h2>
</header>

<form [formGroup] = 'order'>
    <mat-form-field class = 'order-field'>
        <mat-label>Person Name</mat-label>
        <mat-hint>Who's making the order?</mat-hint>
        <input matInput required formControlName = 'name'>
        <mat-error>Name is required!</mat-error>
    </mat-form-field>

    <button 
        type = 'button'
        color = 'primary'
        mat-raised-button
        style = 'margin-top: 20px;'
        (click) = 'createOrder()'>Add Order</button>
    
    <section class = 'all-orders'>
        <ng-container *ngIf = 'order.controls["doubles"] as doublesOrders'>
            <ng-container *ngIf = 'doublesOrders.value.length > 0'>

                <div class = 'single-order mat-elevation-z2' *ngFor = 'let order of doublesOrders.value'>
                    <h3 style = 'font-weight: 500'>{{order.amount}} {{order.triples ? "triples": "doubles"}} ({{order.pepper}} pepper) with:</h3>
                        <div class="single-order-toppings" >
                            <ng-container *ngFor = 'let topping of order.toppings | keyvalue'>
                                <span *ngIf = 'topping.value'>- {{topping.key | separateCamelCase | titlecase}}</span>
                            </ng-container>
                        </div>
                </div>

            </ng-container>
        </ng-container>
    </section>
    
</form>
