:host {
    text-align: center;
}

.order-field {
    width: 80vw;
    margin: 0 auto;
}

.all-orders {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.single-order {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #f2f2f2;
    border-radius: 8px;
}

.single-order-toppings {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr))
}