<header>
    <h2 style = 'margin-top: 16px;'>Create your order</h2>
</header>

<form [formGroup] = 'order'>
    <mat-form-field class = 'order-field'>
        <mat-label>Person Name</mat-label>
        <mat-hint>Who's making the order?</mat-hint>
        <input matInput required formControlName = 'name'>
        <mat-error>Name is required!</mat-error>
    </mat-form-field>

    <button 
        type = 'button'
        color = 'primary'
        mat-raised-button
        style = 'margin-top: 20px;'
        (click) = 'createOrder()'>Add Doubles</button>
    
    <section class = 'all-orders'>
        <ng-container *ngIf = 'order.controls["doubles"] as doublesControls'>
            <ng-container *ngIf = 'doublesControls.value.length > 0'>
                <section class = 'single-order mat-elevation-z2' *ngFor = 'let control of doublesControls.value'>
                    {{control | json}}
                </section>
            </ng-container>
        </ng-container>
    </section>
    
</form>
