<h2 style = 'margin: 4px 0 8px 0'>Create your order</h2>
<p class = 'mat-caption'>(Hint: All doubles in this group will have the same toppings!)</p>

<form class = 'single-doubles' [formGroup] = 'singleDoubles'>
    <h3>How many doubles do you want?</h3>
    <mat-form-field class = 'order-field'>
        <mat-label>Amount</mat-label>
        <mat-hint>How much doubles do you want?</mat-hint>
        <input matInput required formControlName = 'amount'>
        <mat-error>Amount is required</mat-error>
    </mat-form-field>

    <h3 style = 'margin-top: 10px;'>Customize your doubles</h3>
    <section class="single-doubles-checkboxes">
        <mat-checkbox formControlName = 'channa' required>Channa</mat-checkbox>
        <mat-checkbox formControlName = 'triples' required>Triples</mat-checkbox>
        <mat-checkbox formControlName = 'sweetSauce' required>Sweet Sauce</mat-checkbox>
        <mat-checkbox formControlName = 'coconut' required>Coconut</mat-checkbox>
        <mat-checkbox formControlName = 'pepper' required>Pepper</mat-checkbox>
        <mat-checkbox formControlName = 'cucumber' required>Cucumber</mat-checkbox>
        <mat-checkbox formControlName = 'kutchela' required>Kutchela</mat-checkbox>
        <mat-checkbox formControlName = 'roastPepper' required>Roast Pepper</mat-checkbox>
        <mat-checkbox formControlName = 'bandania' required>Bandania</mat-checkbox>
    </section>
    
    <h3 style = 'margin-top: 10px'>How do you like your pepper?</h3>
    <mat-radio-group aria-label="How much pepper?">
        <mat-radio-button value="none">None</mat-radio-button>
        <mat-radio-button value="slight">Slight</mat-radio-button>
        <mat-radio-button value="medium">Medium</mat-radio-button>
        <mat-radio-button value="Heavy">Heavy</mat-radio-button>
    </mat-radio-group>    
</form>

<footer>
    <button mat-raised-button color = 'primary'>Create Order!</button>
</footer>
