mat-form-field {
    width: 100%;
}

.single-doubles-checkboxes {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    place-items: flex-start;
    row-gap: 10px;
}

mat-radio-group {
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 5px;
}

footer {
    padding-top: 20px;
    text-align: center;
}