<header>
    <div class="title">
        <h2>{{list.name}}</h2>
        <div style = 'display: flex; align-items: center;'>
            <mat-slide-toggle (change) = 'toggleListening($event.checked)' [checked] = 'listening'></mat-slide-toggle>
            <i
                class = 'material-icons'
                style = 'pointer-events: none; margin-left: 10px;'
                [style.color] = 'listening ? "red" : "black"'
                matRipple
                matRippleColor = 'red'
                [matRippleRadius] = '20'
                [matRippleUnbounded]="true" >mic</i>
        </div>
    </div>
   
    <div class = 'list-info'>
        <span> <mat-icon style = 'margin: 0 5px;'>schedule</mat-icon> {{list.pending}}</span>
        <span> <mat-icon style = 'margin: 0 5px;'>done</mat-icon> {{list.completed}}</span>
    </div>
</header>

<mat-progress-bar style = 'margin: 10px 0;' mode="determinate" [value]="completedPercentage"></mat-progress-bar>

<section 
    class = 'item-list'
    [ngClass] = '{"completed": item.value}'
    *ngFor = 'let item of list.items | keyvalue'
    (click) = 'updateItem(item.key, !item.value)'>
    <span style = 'margin-top: 6px'>{{item.key | titlecase}}</span>

    <button [disableRipple] = 'true' mat-icon-button>
        <mat-icon [ngClass] = '{"icon-completed": item.value}'>{{item.value ? "done" : "check_box_outline_blank"}}</mat-icon>
    </button>

</section>
