.item-list {
    display: flex;
    justify-content: space-between;
    padding: 4px 8px;
    margin-top: 8px;
    border-radius: 8px;
    align-items: center;
    background-color: #F4F4F4;
    transition: background-color 0.1s linear;
    -webkit-transition: background-color 0.1s linear;
}

.completed {
    color: white;
    text-decoration: line-through;
    background-color: #3f51b5;
}
