<h2>{{list.name}}</h2>

<section 
    class = 'item-list'
    [ngClass] = '{"completed": item.value}'
    *ngFor = 'let item of list.items | keyvalue'
    (click) = 'updateItem(item.key, !item.value)'>
    <span style = 'margin-top: 6px'>{{item.key | titlecase}}</span>

    <button [disableRipple] = 'true' mat-icon-button>
        <mat-icon [ngClass] = '{"icon-completed": item.value}'>{{item.value ? "done" : "check_box_outline_blank"}}</mat-icon>
    </button>

</section>

<mat-progress-bar style = 'margin: 10px 0;' mode="determinate" [value]="completedPercentage"></mat-progress-bar>

<!-- <button color = 'primary' mat-flat-button (click) = 'start()'>Start Listening!</button> -->
<!-- <button color = 'primary' mat-flat-button (click) = 'stop()'>Stop Listening!</button> -->
