:host {
    height: 100vh;
}

header {
    color: white;
    background-color: red;;
    text-align: center;
    padding: 20px 10px;
}

header h1 {
    margin: 0;
}

main {
    height: calc(100vh - 120px);
    overflow-y: auto;
}

nav {
    width: 100%;
    position: fixed;
    bottom: 0;
}

.mat-tab-link {
    padding: 0 8px;
}

@media screen and (min-width: 768px) {
    main {
        padding: 0 10vw;
    }
}
