html, body {
  margin: 0;
  font: 400 Roboto/Helvetica Nue;
}

header {
  background: #3f51b5;
  color: #fff;
  padding: 16px;
  text-align: center;
}

header h2 {
  margin-bottom: 0;
}

mat-toolbar {justify-content: center;}
main { padding: 0 5vw; }