<main class = 'card-list'>
    <section 
        matRipple
        class = 'card'
        *ngFor = 'let list of lists | async'
        [routerLink] = '"/list-details/" + list.listName'
        [state] = 'list'>
        <h2>{{list.listName}}</h2>
    
        <section class="card-stats">

            <div class="stats pending">
                <mat-icon>schedule</mat-icon>
                <span>{{list.pending}}</span>
            </div>
    
            <div class="stats completed">
                <mat-icon>done</mat-icon>
                <span>{{list.completed}}</span>
            </div>
            
        </section>
        
    </section>
</main>

<button id = 'add' mat-mini-fab>
    <mat-icon>add</mat-icon>
  </button>
